
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 13px;
  background-color: #272822;
  width: 150px;
}

p {
  color: #F8F8F2;
  font-size: 11px;
}

#bug-report {
  margin-top: 5px;
}

#bug-report * {
  font-size: 10px;
  color: #b3b3b3;
}

#themes {
  color: white;
}