/*
  This file contains overrides for the overall look of the CPO editor.
*/

.repl {
  background: #272822 !important;
  color: #f8f8f2 !important;
}

/* text that is printed in the REPL, it seems */
.replPrint {
  color: #F8F8F2 !important;
}

.replOutput, .replTextOutput {
  color: #F8F8F2 !important;
}

/* scrollbar */
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 11px;
  background-color: #43453b !important;;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: #5e6052 !important;
  border-radius: 5px !important;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #797c6a !important;
}

/* middle resize handle */
#handle {
  background: none !important;
  background-color: #43453b !important;
}

/* CODE SNIPPETS */
.cm-snippet > header {
  background-color: #505346 !important;
}

.cm-snippet > header .srcloc {
  color: #F8F8F2 !important;
}

/* ------------------- ERROR MESSAGES ------------------- */

/* compile error with no highlighting */
#output > .compile-error:not(.highlights-active):hover:after,
.check-block-error > .compile-error:not(.highlights-active):hover::after,
.check-block-test.failing-test:not(.highlights-active):hover {
    box-shadow: 0 0 2em red !important;
}

/* background of basic error messages */
.compile-error {
  background: #272822 !important;
}

/* shipshape, mate */
.testing-summary{
  color: #66D9EF !important;
  background: #42453b !important;
}


/* ------------------- CHECK BLOCKS ------------------- */

/* failed check block */
.check-block-failed {
  background-color: #ff6666 !important;
  color: white !important;
}

/* check block with an error */
.check-block-errored {
  background-color: #ff6666 !important;
  color: #F8F8F2 !important;
}

/* passed check block */
.check-block-success {
  background-color: #42453b !important;
  color: #80ff80 !important;
}

/* error in a check block, when highlighted */
.check-block-error .highlights-active.compile-error,
.check-block-test.highlights-active {
  background: #42453b !important;
}

/* number of tests failed display at top */
.summary-failed {
  background-color: #36372f !important;
  color: #ff6666 !important;
}

/* number of tests passed display at top */
.summary-passed {
  background-color: #36372f !important;
  color: #80ff80 !important;
}

/* background of test failed / succeeded messages */
.check-block-test.failing-test,
.check-block-test.passing-test, 
.check-block-test header,
.test-reason {
  background-color: #35372f !important;
  color: #F8F8F2 !important;
}

/* bold and make the "Test: Failed" text red in a failed test */
.check-block-test.failing-test > header {
  color: #ff6666 !important;
  font-weight: bold !important;
}

/* bold and make the "Test: Passed" text green in a passed test */
.check-block-test.passing-test > header {
  color: #80ff80 !important;
  font-weight: bold !important;
}


/* ----------------- Tables in the interactions window ----------------- */

.pyret-table tbody * {
  color: #F8F8F2 !important;
}

/* table headers */
th {
  background: #36372f !important;
  color: #66D9EF !important;
}

.pyret-table tr:nth-child(even){
  background-color: #515346 !important;
}

.pyret-table tbody {
  background-color: #5e6052 !important;
}

/* borders */
.pyret-table {
  border: 1px #abaf9d solid !important;
}

.pyret-table th, td {
  border-right: 1px #abaf9d solid !important;
}


/* ---------------------- SPINNY PYRET LOADING SCREEN ---------------------- */

#loader {
  background-color: #272822 !important;
}

/* the pirate text on the loader screen */
#loader > p {
  color: #F8F8F2 !important;
}


/* --------------------- 80 character limit ruler --------------------- */
.CodeMirror div.CodeMirror-ruler {
  border: 1.5px !important;
  border-color: #F92672 !important;
  border-style: solid !important;
}


/* ----------------- pyret.cs.brown.edu specific overrides ----------------- */
.test-file-blocks, .file-test-results {
  background-color: #272822 !important;
}

/* bar at top of testing block indicating "VALIDITY UNKNOWN" */
.maybe-valid {
  background-color: #5e6052 !important;
}

/* bar at top of testing block, indicating "VALID" */
.valid {
  background-color: #5e6052 !important;
  /* color: #3c9ee5 !important; */
}

/* 
.file-test-results {
  border: .3em #66D9EF solid !important;
}

.file-test-results > header {
  background-color: #66D9EF !important;
} */