/*
  This file contains overrides for the overall look of the CPO editor.
*/

.repl {
  background: #272822 !important;
  color: #f8f8f2 !important;
}

.CodeMirror-vscrollbar {
  background: #272822 !important;
  color: #f8f8f2 !important;
}
