/*
  This file contains overrides for the syntax highlighting.

  Check out the colors here:
  https://marketplace.visualstudio.com/items?itemName=SuperPaintman.monokai-extended
*/

/* Based on Sublime Text's Monokai theme */
/* Taken from https://codemirror.net/theme/monokai.css */

.CodeMirror {
  background: #272822 !important;
  color: #f8f8f2 !important;
}

.cm-s-default div.CodeMirror-selected { background: #49483E !important; }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99) !important; }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99) !important; }
.cm-s-default .CodeMirror-gutters { background: #272822 !important; border-right: 0px !important; }
.cm-s-default .CodeMirror-guttermarker { color: white !important; }
.cm-s-default .CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.cm-s-default .CodeMirror-linenumber { color: #d0d0d0 !important; }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid #f8f8f0 !important; }

.cm-s-default span.cm-comment { color: #75715e !important; }
.cm-s-default span.cm-atom { color: #ae81ff !important; }
.cm-s-default span.cm-number { color: #ae81ff !important; }
.cm-s-default span.cm-roughnum { color: #E69F66 !important; font-weight: bold
  !important;}

.cm-s-default span.cm-comment.cm-attribute { color: #97b757 !important; }
.cm-s-default span.cm-comment.cm-def { color: #bc9262 !important; }
.cm-s-default span.cm-comment.cm-tag { color: #bc6283 !important; }
.cm-s-default span.cm-comment.cm-type { color: #5998a6 !important; }

.cm-s-default span.cm-property, .cm-s-default span.cm-attribute { color: #a6e22e !important; }
.cm-s-default span.cm-keyword { color: #f92672 !important; }
.cm-s-default span.cm-builtin { color: #66d9ef !important; }
.cm-s-default span.cm-string { color: #A6E22E !important; }

.cm-s-default span.cm-variable { color: #f8f8f2 !important; }
.cm-s-default span.cm-variable-2 { color: #9effff !important; }
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-type { color: #66d9ef !important; }
.cm-s-default span.cm-def { color: #fd971f !important; }
.cm-s-default span.cm-bracket { color: #f8f8f2 !important; }
.cm-s-default span.cm-tag { color: #f92672 !important; }
.cm-s-default span.cm-header { color: #ae81ff !important; }
.cm-s-default span.cm-link { color: #ae81ff !important; }
.cm-s-default span.cm-error { background: #f92672 !important; color: #f8f8f0 !important; }

.cm-s-default .CodeMirror-activeline-background { background: #373831 !important; }
.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline !important;
  color: white !important;
}


/* Some things we need to override */

.cm-function-name {  color: #f8f8f2 !important; }
.cm-boolean { color: #AE81FF !important; }

html div.CodeMirror-selected, html span.CodeMirror-selectedtext {
  background-color: rgb(73, 72, 62) !important;
}

/*  This highlights regions (like fun ... end or beginnings and endings of parentheses)
    Let's make them gray so as not to hurt the eyes. */
div.CodeMirror span.CodeMirror-matchingbracket-region {
  position: relative;
  background-color: #43453b !important;
  border-top: 0.1em solid #43453b !important;
  border-bottom: 0.1em solid #43453b !important;
}

div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
  box-shadow: 0.5em 0 0.25em #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
  box-shadow: -0.5em 0 0.25em #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
  box-shadow: -0.5em 0 0.25em #43453b, 0.5em 0 0.25em #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket.open {
box-shadow: -0.3ex 0 0.3ex #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
box-shadow: 0.5em 0 0.25em #43453b, -0.3ex 0 0.3ex #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket.close {
box-shadow: 0.3ex 0 0.3ex #43453b !important;
}
div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
box-shadow: -0.5em 0 0.25em #43453b, 0.3ex 0 0.3ex #43453b !important;
}
